<div class="art-container">
  <div class="featured-article" style="background-image: url(<%= image_path "#{@featured_article.image}"%>);background-position: center;
    background-size: cover; background-repeat: no-repeat;">
    <h4 class="featured-title"><%= @featured_article.title%></h4>
    <p class="featured-text"><%= @featured_article.text.truncate(200)%></p>
  </div>

  <% @categories.each do |cat|%>
  <div class="featured-category"
    style="background-image: url(<%= image_path "#{cat.articles.last.image}"%>);background-position: center; background-size: cover; background-repeat: no-repeat;">

    <h3><span class="a-cat-tile"><%= link_to "#{cat.name.upcase}", category_path(:id => cat.id) %></span></h3>
    <p><b><%= cat.articles.last.title%></b></p>
  </div>
  <% end %>
  <a href=<%= new_article_path%> class="write-article">
    <h1>WRITE ARTICLE</h1>
  </a>
</div>