<!-- <p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text.truncate(300) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<div class="cat-container">
  <% @articles.each do |article| %>
  <div class="image-box" style="background-image: url(<%= image_path "#{article.image}"%>);background-position: center; background-size:
    cover; background-repeat: no-repeat;">
  </div>
  <div class="text-box">
    <h2 class="art-author"><span><%=article.author.name%></span></h2>
    <h2 class="art-title"><%= article.title %></h2>
    <p class="art-text"><%= article.text.truncate(200) %></p>
    <a href="#">READ MORE</a>
    <%= link_to('Vote', article_votes_path(article_id: article.id), method: :post) %>
  </div>
  <% end %>
</div>