<div class="cat-container">
  <% @articles.each_with_index do |article, indx| %>
  <div class="image-box" style="background-image: url(<%= image_path "#{article.image}"%>);background-position: center; background-size:
    cover; background-repeat: no-repeat;">
  </div>

  <div class="text-box">
    <h2 class="art-author"><span><%=article.author.name%></span></h2>
    <h2 class="art-title"><%= article.title %></h2>
    <p class="art-text"><%= article.text.truncate(100) %></p>
    <p class="vote"><%= link_to('VOTE', article_votes_path(article_id: article.id), method: :post) %></p>
  </div>
  <% end %>
</div>