<!DOCTYPE html>
<html>

<head>
  <title>saltylifestyle</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
  <nav>
    <div class="logo">saltylifestyle</div>
    <ul class="categories">
      <a href="#">
        <li class="lstly">Home</li>
      </a>
      <a href="#">
        <li class="lstly">Longboarding</li>
      </a>
      <a href="#">
        <li class="lstly">Surfing</li>
      </a>
      <a href="#">
        <li class="lstly">Scuba</li>
      </a>
      <a href="#">
        <li class="lstly">Kiteboarding</li>
      </a>
      <a href="#">
        <li class="lstly">Freediving</li>
      </a>
    </ul>
    <div class="session-btns">
      <% if user_signed_in? %>
      <li>
        <%= current_user.name %>
      </li>
      <span class="divider">|</span>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
      <% else %>
      <li>
        <%= link_to('Register', new_user_registration_path) %>
      </li>
      <span class="divider">|</span>
      <li>
        <%= link_to('Login', new_user_session_path) %>
      </li>
      <% end %>
    </div>
  </nav>
  <%= yield %>
  <footer>
    <div class="logo-footer">saltylifestyle</div>
    <ul class="terms">
      <li class="terms-items">Privacy Policy</li>
      <li class="terms-items">Terms & Conditions</li>
      <li class="copyright">© 2020 Seth Zea. Made in the USA.</li>
    </ul>
    <div class="social">
      <p>Connect with us:</p>
      <div class="social-icons">
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>